h1{
    background-color:blue;
    color:white;
    padding:4px 10px;

}
h2{
    background-color:blue;
    color:white;
    padding:4px 10px;
}
.message{
    transition: all linear 0.5s;
    background-color: lightblue;
    height: 30px;
    padding:5px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}
