<html ng-app="workflowApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="services/services.js"></script>
    <script src="controllers/controllers.js"></script>
</head>
<body  ng-controller="workflowCtrl">
<h1>workflow</h1>
<h2>Applications</h2>
<table border="1">
<tr><th>app name</th><th>job name</th><th>applicant name</th><th>status</th><th>delete</th><th>action</th></tr>
<tr ng-repeat="application in applications">
    <td>{{application.name}}</td>
    <td>{{application.jobDto.name}}</td>
    <td>{{application.applicantDto.name}}</td>
    <td>{{application.status}}</td>
    <td><a href ng-click="deleteApplication($index)">delete</a></td>
    <td><a href ng-click="actionApplication($index)">action</a></td>
</tr>
</table>
<h2>Add Application</h2>
<form ng-submit="addApplication()">
    name:<input type="text" ng-model="applicationDto.name"/>
    job id:<input type="text" ng-model="applicationDto.job.id"/>
    applicant id:<input type="text" ng-model="applicationDto.applicant.applicantId"/>
    <input type="submit"/>
</form>
<hr />
<h2>Jobs</h2>
<table border="1">
    <tr><th>id</th><th>job name</th><th>delete</th></tr>
    <tr ng-repeat="job in jobs">
        <td>{{job.jobId}}</td>
        <td>{{job.name}}</td><td><a href ng-click="deleteJob($index)">delete</a></td>
    </tr>
</table>
<h2>Add Job</h2>
<form ng-submit="addJob()">
    name:<input type="text"/>
    <input type="submit"/>
</form>
<hr />
<h2>Applicants</h2>
<table border="1">
    <tr><th>id</th><th>applicant name</th><th>delete</th></tr>
    <tr ng-repeat="applicant in applicants">
        <td>{{applicant.applicantId}}</td>
        <td>{{applicant.name}}</td>
        <td><a href ng-click="deleteApplicant($index)">delete</a></td>
    </tr>
</table>
<h2>Add Applicant</h2>
<form ng-submit="addApplicant()">
    name:<input type="text" ng-model="applicantDto.name"/>
    <input type="submit"/>
</form>
</body>
</html>