<html ng-app="workflowApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="services/services.js"></script>
    <script src="controllers/controllers.js"></script>
</head>
<body  ng-controller="workflowCtrl">
<h1>workflow</h1>
<h2>Applications</h2>
<table>
<tr><th>app name</th><th>job name</th><th>applicant name</th><th>status</th></tr>
<tr ng-repeat="application in applications">
    <td>{{application.name}}</td>
    <td>{{application.jobDto.name}}</td>
    <td>{{application.applicantDto.name}}</td>
    <td>{{application.status}}</td>
</tr>
</table>

<h2>Jobs</h2>
<table>
    <tr><th>job name</th></tr>
    <tr ng-repeat="job in jobs">
        <td>{{job.name}}</td>
    </tr>
</table>
<h2>Applicants</h2>
<table>
    <tr><th>applicant name</th></tr>
    <tr ng-repeat="applicant in applicants">
        <td>{{applicant.name}}</td>
    </tr>
</table>
</body>
</html>