<div class="row">
    <div class="small-2 large-12 columns">
        <h1>Vacancies</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 column">
        <h3>Vacancies</h3></a>
        <table border="1">
            <thead> <tr> <th>id</th> <th>title</th> </tr> </thead>
            <tbody>
            <tr ng-repeat="vacancy in vacancies">
                <td>{{vacancy.vacancyId}}</td> <td>{{vacancy.jobAdvert.title}}</td>
                <td><a href="/#/apply/{{vacancy.vacancyId}}">APPLY</a></td>
            </tr>
            </tbody>
        </table>
        <!--<h3>Companies</h3></a>-->
        <!--<table border="1">-->
        <!--<thead> <tr> <th>id</th> <th>name</th> </tr> </thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="company in companies"> <td>{{company.companyId}}</td> <td>{{company.name}}</td> </tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--<h3>Adverts</h3></a>-->
        <!--<table border="1">-->
        <!--<thead> <tr> <th>id</th> <th>name</th> </tr> </thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="advert in adverts"> <td>{{advert.advertId}}</td> <td>{{advert.title}}</td> </tr>-->
        <!--</tbody>-->
        <!--</table>-->

        </ul>
    </div>
</div>