<html ng-app="workflowApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='css/foundation/css/foundation.css'/>
    <link rel='stylesheet' href='css/main.css'/>
</head>
<body  class="container" ng-controller="workflowCtrl">
<div class="row">
    <div class="small-2 large-12 columns">
        <h1>Workflow</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 column">
<ul class="accordion" data-accordion>
    <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><h3>Applications</h3></a>
        <div class="accordion-content" data-tab-content>
            <div class="row">
                <div class="large-9 column">
                    <table border="1">
                        <thead>
                            <tr><th>id</th><th>app name</th><th>job name</th><th>applicant name</th><th width="100">status</th><th>delete</th><th>action</th></tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="application in applications">
                                <td>{{application.applicationId}}</td>
                                <td>{{application.name}}</td>
                                <td>{{application.jobDto.name}}</td>
                                <td>{{application.applicantDto.name}}</td>
                                <td width="100">{{application.status}}</td>
                                <td><a href class="button" ng-click="deleteApplication($index)">delete</a></td>
                                <td>
                                    <span ng-repeat="status in application.validStatuses">
                                        <a href class="button" ng-click="updateApplication($parent.$index, status)">{{status}}</a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="large-3 column">

                    <h2>+ Application</h2>
                    <form ng-submit="addApplication()">
                    name:<input type="text" ng-model="application.name"/>
                    job id:<input type="text" ng-model="application.jobDto.jobId"/>
                    applicant id:<input type="text" ng-model="application.applicantDto.applicantId"/>
                    <input  class="button" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h3>Jobs</h3></a>
        <div class="accordion-content" data-tab-content>
            <div class="row">
                <div class="large-9 columns">
                    <table border="1">
                        <tr><th>id</th><th>job name</th><th>Status</th><th>delete</th><th>action</th></tr>
                        <tr ng-repeat="job in jobs">
                            <td>{{job.jobId}}</td>
                            <td>{{job.name}}</td>
                            <td>{{job.status}}</td>
                            <td><a class="button" href ng-click="deleteJob($index)">delete</a></td>
                            <td>
                                <span ng-repeat="status in job.validStatuses">
                                    <a href class="button" ng-click="updateJob($parent.$index, status)">{{status}}</a>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="small-2 large-3 columns">
                    <h2>+ Job</h2>
                    <form ng-submit="addJob()">
                        name:<input type="text" ng-model="jobDto.name"/>
                        <input type="submit" class="button"/>
                    </form>
                </div>
            </div>
        </div>
    </li>

    <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><h3>Applicants</h3></a>
        <div class="accordion-content" data-tab-content>
            <div class="row">
                <div class="large-9 columns">
                    <table border="1">
                        <tr><th>id</th><th>applicant name</th><th>delete</th></tr>
                        <tr ng-repeat="applicant in applicants">
                            <td>{{applicant.applicantId}}</td>
                            <td>{{applicant.name}}</td>
                            <td><a href class="button" ng-click="deleteApplicant($index)">delete</a></td>
                        </tr>
                    </table>
                </div>
                <div class="small-2 large-3 columns">
                    <h2>+ Applicant</h2>
                    <form ng-submit="addApplicant()">
                        name:<input type="text" ng-model="applicantDto.name"/>
                        <input class="button" type="submit"/>
                    </form>
                </div>
            </div>
        </div>
    </li>



</ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
<script src="css/foundation/js/vendor/jquery.js"></script>
<script src="css/foundation/js/vendor/foundation.js"></script>
<script src="app.js"></script>
<script src="services/services.js"></script>
<script src="controllers/controllers.js"></script>
<script>
  $(document).foundation();
</script>
</body>
</html>