<h2>+ Review</h2>
<form ng-submit="addReview()">
    <!--applicationId:<input type="text" ng-model="review.applicationId"/>-->
    <label>Application:<select ng-options="application.applicationId as application.name for application in applications track by application.applicationId" ng-model="review.applicationId"></select>
    </label>
    <!--reviewer Id:<input type="text" ng-model="review.reviewerId"/>-->
    <label>Reviewer:<select ng-options="reviewer.reviewerId as reviewer.name for reviewer in reviewers track by reviewer.reviewerId" ng-model="review.reviewerId"></select>
    </label>
    <input class="button" type="submit"/>
</form>