<table border="1">
    <tr><th>id</th><th>job name</th><th>Status</th><th>delete</th><th>action</th></tr>
    <tr ng-repeat="job in jobs">
        <td>{{job.jobId}}</td>
        <td>{{job.name}}</td>
        <td>{{job.status}}</td>
        <td><a class="button" href ng-click="deleteJob($index)">delete</a></td>
        <td>
            <span ng-repeat="status in job.validStatuses">
                <a href class="button" ng-click="updateJob($parent.$index, status)">{{status}}</a>
            </span>
        </td>
    </tr>
</table>